/* Header
------------------------------*/

.header {
	display: flex;
	justify-content: center;
	padding: 2rem 0;
	/* background: var(--color-construction-primary); */
}

	.header__wrap {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: min(90vw, 50rem);
		max-width: 90vw;
		/* background: var(--color-construction-primary); */
	}

	@media screen and (min-width: 31.25rem) {
		.header__wrap {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
	}

		/* !- Logo */

		.logotype {
			font-weight: bold;
		}

			.logotype__link {
				display: block;
				color: var(--color-black);
				text-decoration: none;
			}

				.logotype__detail {
					display: block;
					font-weight: normal;
					color: var(--color-gray-60);
				}

		/* !- Navigation */

		.navigation {}

			.navigation__list {
				display: flex;
				align-items: flex-end;
				margin: 0;
				padding: 0;
				gap: 1.5rem;
				list-style: none;
			}

				.navigation__item {}

					.navigation__link {
						text-decoration-thickness: 0.125rem;
						text-underline-offset: 0.125rem;
						color: var(--color-primary);
					}

					.navigation__link[aria-current="page"],
					.navigation__link--is-current {
						font-weight: bold;
					}
