---
title: My Rad Blog
eleventyImport:
	collections: ["note", "project"]
---

<!doctype html>

<html lang="{{ metadata.language }}">

	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{{ title }}</title>
		<meta name="description" content="{{ description or metadata.description }}" />

		<link rel="home" href="{{ metadata.url }}" />
		<link rel="canonical" href="{{ metadata.canonical }}{{ page.url }}" />

		<meta name="theme-color" content="#ffffff" />
		<meta name="generator" content="{{ eleventy.generator }}" />

		<link rel="icon" href="/assets/img/favicon.ico" sizes="any" />
		<link rel="icon" href="/assets/img/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png" />

		<link rel="manifest" href="/manifest.json" />

		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}" />
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}" />

		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
		<meta property="og:image" content="{{ metadata.canonical }}/assets/img/social.jpg" />
		<meta property="og:locale" content="en" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ metadata.canonical }}{{ page.url }}" />

		<meta name="twitter:url" content="{{ metadata.canonical }}{{ page.url }}" />
		<meta name="twitter:title" content="" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@jlcolema" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:image" content="{{ metadata.canonical }}/assets/img/social.jpg" />
		<meta name="twitter:creator" content="@jlcolema" />

		<link rel="me" href="https://hachyderm.io/@coleman" />
		<link rel="me" href="https://github.com/jlcolema" />
		<link rel="me" href="https://keybase.io/jlcolema" />

		<link rel="pingback" href="https://webmention.io/joshuacoleman.dev/xmlrpc" />

		<link rel="webmention" href="https://webmention.io/joshuacoleman.dev/webmention" />

		<meta name="color-scheme" content="light dark" />

		{# TODO: Review the `base.njk` layout in the Eleventy Base Blog #}
		{# Source: https://github.com/11ty/eleventy-base-blog/blob/main/_includes/layouts/base.njk #}

		{# TODO: Turn service worker back on for production. #}
		{# Source: https://www.npmjs.com/package/eleventy-plugin-pwa-v2 #}

		<link rel="preload" type="font/woff2" href="/assets/fonts/inter-variable.woff2" as="font" crossorigin="" />

		<link rel="stylesheet" href="{{ '/assets/css/styles.css' | url | bust }}" />

		{# TODO: Turn compiling and minification back on for production. #}
		{# Source: https://www.11ty.dev/docs/quicktips/inline-css/ #}

	</head>

	<body>

		<a href="#main" class="skip-link">Skip to main content.</a>

		{# Header #}

		<header role="banner" id="header" class="header">

			<div class="wrap header__wrap">

				<div class="logotype">

					<a href="/" class="logotype__link">

						Joshua Coleman

						<span class="logotype__detail">Designer and Developer</span>

					</a>

				</div>

				{% set navPages = collections.all | eleventyNavigation %}

				<nav role="navigation" aria-label="Main" class="navigation">

					<ul role="list" class="navigation__list">

						{% for entry in navPages %}

							<li class="navigation__item">

								<a href="{{ entry.url }}" {% if entry.url == page.url or entry.url == page.url | getbase %}aria-current="page" data-current="true"{% endif %} class="navigation__link">{{ entry.title }}</a>

							</li>

						{% endfor %}

					</ul>

				</nav>

			</div>

		</header>

		{# Main #}

		<main role="main" id="main" class="main">

			<div class="wrap main__wrap">

				{{ content | safe }}

				{% include "selected-work.njk" %}

				{% include "recent-notes.njk" %}

			</div>

		</main>

		{# Footer #}

		<footer role="contentinfo" aria-label="Footer" class="footer">

			<div class="wrap footer__wrap">

				{% set navPages = collections.all | eleventyNavigation %}

				<nav role="navigation" aria-label="Main" class="navigation">

					<ul role="list" class="navigation__list">

						{% for entry in navPages %}

							<li class="navigation__item">

								<a href="{{ entry.url }}" {% if entry.url == page.url or entry.url == page.url | getbase %}aria-current="page" data-current="true"{% endif %} class="navigation__link">{{ entry.title }}</a>

							</li>

						{% endfor %}

					</ul>

				</nav>

				<p class="">This website is built with <a href="https://www.11ty.dev">Eleventy</a> and hosted on <a href="https://www.netlify.com">Netlify</a>.</p>

				<p>Stay curious.</p>

				<p class="">&copy; {{ metadata.title }} 2008-Today. <b>All rights reserved.</b></p>

			</div>

		</footer>

		<a href="#header" class="skip-link">Return to the top of the page.</a>

		<div class="dev">
			<span id="width"></span> / <span id="height"></span>
		</div>

		<script type="text/javascript" src="/assets/js/scripts.js"></script>

	</body>

</html>
