---
layout: layouts/project.njk
tags:
  - project
title: Accelerate
small: /media/work/accelerate-small.jpg
medium:
large: /media/work/accelerate-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
