---
layout: layouts/project.njk
tags:
  - project
title: Advanced Sign Management
small: /media/work/advanced-sign-management-small.jpg
medium:
large: /media/work/advanced-sign-management-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
