---
layout: layouts/project.njk
tags:
  - project
title: Advisa
small: /media/work/advisa-small.jpg
medium:
large: /media/work/advisa-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
