---
layout: layouts/project.njk
tags:
  - project
title: Black Buffalo
small: /media/work/black-buffalo-small.jpg
medium:
large: /media/work/black-buffalo-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
