---
layout: layouts/project.njk
tags:
  - project
title: Blanca Navarro
small: /media/work/blanca-navarro-small.jpg
medium:
large: /media/work/blanca-navarro-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
