---
layout: layouts/project.njk
tags:
  - project
title: Brand Articulation
small: /media/work/brand-articulation-small.jpg
medium:
large: /media/work/brand-articulation-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
