---
layout: layouts/project.njk
tags:
  - project
title: Bright Apple
small: /media/work/bright-apple-small.jpg
medium:
large: /media/work/bright-apple-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
