---
layout: layouts/project.njk
tags:
  - project
title: Christos G. Cassandras
small: /media/work/christos-g-cassandras-small.jpg
medium:
large: /media/work/christos-g-cassandras-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
