---
layout: layouts/project.njk
tags:
  - project
title: Cytometry for Life
small:
medium:
large: /media/work/cytometry-for-life-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
