---
layout: layouts/project.njk
tags:
  - project
title: Everyday Mentor
small: /media/work/everyday-mentor-small.jpg
medium:
large: /media/work/everyday-mentor-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
