---
layout: layouts/project.njk
tags:
  - project
title: Fertitta Capital
small: /media/work/fertitta-capital-small.jpg
medium:
large: /media/work/fertitta-capital-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
