---
layout: layouts/project.njk
tags:
  - project
title: Harrison Storage
small: /media/work/harrison-storage-small.jpg
medium:
large: /media/work/harrison-storage-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
