---
layout: layouts/project.njk
tags:
  - project
title: Hire Better Now
small: /media/work/hire-better-now-small.jpg
medium:
large: /media/work/hire-better-now-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
