---
layout: layouts/project.njk
tags:
  - project
title: Imbalance
small: /media/work/imbalance-small.jpg
medium:
large: /media/work/imbalance-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
