---
layout: layouts/project.njk
tags:
  - project
title: Impress Plus
small: /media/work/impress-plus-small.jpg
medium:
large: /media/work/impress-plus-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
