---
layout: layouts/project.njk
tags:
  - project
title: Jolles Original
small: /media/work/jolles-original-small.jpg
medium:
large: /media/work/jolles-original-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
