---
layout: layouts/project.njk
tags:
  - project
title: Justice Task Force
small:
medium:
large: /media/work/justice-task-force-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
