---
layout: layouts/project.njk
tags:
  - project
title: Katherine Waddell
small: /media/work/katherine-waddell-small.jpg
medium:
large: /media/work/katherine-waddell-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
