---
layout: layouts/project.njk
tags:
  - project
title: Koncept
small: /media/work/koncept-small.jpg
medium:
large: /media/work/koncept-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
