---
layout: layouts/project.njk
tags:
  - project
title: Let's Talk IAPT
small: /media/work/lets-talk-iapt-small.jpg
medium:
large: /media/work/lets-talk-iapt-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
