---
layout: layouts/project.njk
tags:
  - project
title: Lockwood
small: /media/work/lockwood-small.jpg
medium:
large: /media/work/lockwood-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
