---
layout: layouts/project.njk
tags:
  - project
title: Lunatec
small: /media/work/lunatec-small.jpg
medium:
large: /media/work/lunatec-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
