---
layout: layouts/project.njk
tags:
  - project
title: Mary Jane's Cheesecakes
small: /media/work/mary-janes-cheesecakes-small.jpg
medium:
large: /media/work/mary-janes-cheesecakes-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
