---
layout: layouts/project.njk
tags:
  - project
title: MASS Energy Lab Insulation
small: /media/work/mass-energy-lab-insulation-small.jpg
medium:
large: /media/work/mass-energy-lab-insulation-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
