---
layout: layouts/project.njk
tags:
  - project
title: MD Solar Sciences
small: /media/work/md-solar-sciences-small.jpg
medium:
large: /media/work/md-solar-sciences-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
