---
layout: layouts/project.njk
tags:
  - project
title: Medtronic - About MIS
small: /media/work/medtronic-small.jpg
medium:
large: /media/work/medtronic-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
