---
layout: layouts/project.njk
tags:
  - project
title: Nasty Recordings
small: /media/work/nasty-recordings-small.jpg
medium:
large: /media/work/nasty-recordings-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
