---
layout: layouts/project.njk
tags:
  - project
title: Network ATS
small: /media/work/network-ats-small.jpg
medium:
large: /media/work/network-ats-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
