---
layout: layouts/project.njk
tags:
  - project
title: New Oriental Cleaners
small: /media/work/new-oriental-cleaners-small.jpg
medium:
large: /media/work/new-oriental-cleaners-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
