---
layout: layouts/project.njk
tags:
  - project
title: Pete's Cleaners
small: /media/work/petes-cleaners-small.jpg
medium:
large: /media/work/petes-cleaners-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
