---
layout: layouts/project.njk
tags:
  - project
title: Premier Care Pediatrics
small: /media/work/premier-care-pediatrics-small.jpg
medium:
large: /media/work/premier-care-pediatrics-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
