---
layout: layouts/project.njk
tags:
  - project
title: Road Pictures
small: /media/work/road-pictures-small.jpg
medium:
large: /media/work/road-pictures-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
