---
layout: layouts/project.njk
tags:
  - project
title: Row A Seat 1
small: /media/work/row-a-seat-1-small.jpg
medium:
large: /media/work/row-a-seat-1-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
