---
layout: layouts/project.njk
tags:
  - project
title: Sera 4
small: /media/work/sera-4-small.jpg
medium:
large: /media/work/sera-4-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
