---
layout: layouts/project.njk
tags:
  - project
title: Top Flite
small: /media/work/top-flite-small.jpg
medium:
large: /media/work/top-flite-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
