---
layout: layouts/project.njk
tags:
  - project
title: Unisan
small: /media/work/unisan-small.jpg
medium:
large: /media/work/unisan-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
