---
layout: mylayout.njk
title: Home Page
---

<h1>{{ title }}</h1>

<p>All Entries</p>

<ul>
	{%- for post in collections.all -%}
		<li>
			<a href="{{ post.url }}">{{ post.data.title }}</a>
		</li>
	{%- endfor -%}
</ul>
