---
layout: base.njk
eleventyNavigation:
  key: Notes
  order: 3
title: Notes
---

<section class="section">

	<h1 class="heading section__heading">{{ title }}</h1>

	<p class="overview section__overview">83 articles on design engineering covering project case studies, though process, front-end strategy, techniques, and best practices, focused on HTML, CSS, SVG, accessibility, and everything in between.</p>

	<ul class="note__list">

		{% for note in collections.note | reverse %}

			<li class="note__item">

				<article class="note__entry">

					<h2 class="note__title">

						<a href="{{ note.url }}" class="note__link">{{ note.data.title }}</a>

					</h2>

					<div class="note__metadata">

						<span class="note__label">Posted on</span>

						<time datetime="{{ note.data.date | isoDate }}" class="note__date">{{ note.data.date | postDate }}</time>

					</div>

					<p class="note__excerpt">On getting stuck, and what you worry about when you worry about writing.</p>

				</article>

			</li>

		{% endfor %}

	</ul>

</section>
