---
layout: layouts/project.njk
tags:
  - project
title: David Hamilton Property Group
small: /media/work/david-hamilton-property-group-small.jpg
medium:
large: /media/work/david-hamilton-property-group-large.jpg
---

<p>{{ title }}</p>
