---
layout: layouts/project.njk
tags:
  - project
title: Indiana Restoration and Cleaning Services
small:
medium:
large: /media/work/indiana-restoration-and-cleaning-services-large.jpg
---

<p>{{ title }}</p>
