---
layout: layouts/project.njk
tags:
  - project
title: Kurt's Cleaning and Restoration Services
small:
medium:
large: /media/work/kurts-cleaning-and-restoration-services-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
