---
layout: layouts/project.njk
tags:
  - project
  - selected
title: Summit Realty
small:
medium: /media/work/summit-realty-group-medium.jpg
large: /media/work/summit-realty-group-large.jpg
---

<p>{{ title }}</p>
