---
layout: layouts/project.njk
tags:
  - project
title: University Mechanical Contractors
small: /media/work/university-mechanical-contractors-small.jpg
medium:
large: /media/work/university-mechanical-contractors-large.jpg
---

<p>{{ title }}</p>
