<section class="section section__recent-notes">

	<div class="inner-wrap section__inner-wrap">

		<h2 class="heading section__heading">Recent Notes</h2>

		<p class="overview section__overview">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>

		<ul class="note__list">

			{% for note in collections.note | reverse %}

				{# Only show the three most recent. #}

				{% if loop.index0 < 3 %}

					<li class="note__item">

						<article class="note__entry">

							<h3 class="note__title">

								<a href="{{ note.url }}" class="note__link">{{ note.data.title }}</a>

							</h3>

							<div class="note__metadata">

								<span class="note__label">Posted on</span>

								<time datetime="{{ note.data.date | isoDate }}" class="note__date">{{ note.data.date | postDate }}</time>

							</div>

							<p class="note__excerpt">On getting stuck, and what you worry about when you worry about writing.</p>

						</article>

					</li>

				{% endif %}

			{% endfor %}

		</ul>

	</div>

</section>
