<section class="section section__selected-work">

	<div class="inner-wrap section__inner-wrap">

		<h2 class="heading section__heading">Selected Work</h2>

		<p class="overview section__overview">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>

		<ul class="project__list">

			{% for project in collections.selectedWork %}

				<li class="project__item">

					<a href="{{ project.url }}" class="project__link">

						<div class="project__samples">

							<img src="{{ project.data.large }}" width="1000" height="800" loading="lazy" alt="Large screen view of the {{ project.data.title }} project." class="project__image project__image--large" />

							{% if project.data.small or project.data.medium %}

								{% if project.data.small %}

									<div class="project__overlay project__overlay--small">

										<img src="{{ project.data.small }}" width="320" height="568" loading="lazy" alt="Small screen view of the {{ project.data.title }} project." class="project__image project__image--small" />

									</div>

								{% else %}

									<div class="project__overlay project__overlay--medium">

										<img src="{{ project.data.medium }}" width="540" height="691" loading="lazy" alt="Medium screen view of the {{ project.data.title }} project." class="project__image project__image--medium" />

									</div>

								{% endif %}

							{% endif %}

						</div>

						<figure class="project__figure">

							<figcaption class="project__figcaption">

								<h3 class="project__title">{{ project.data.title }}</h3>

							</figcaption>

						</figure>

					</a>

				</li>

			{% endfor %}

		</ul>

	</div>

</section>
