---
title: Chard Snyder
slug: chard-snyder
description: A very nice description.
overview: ExpressionEngine, HTML, CSS, and JavaScript.
year: 2024
url:
  external: https://chard-snyder.com
  archive:
featured:
  selected:
  collaboration:
category: website
tags:
  - expression-engine
  - html
  - css
  - javascript
samples:
  logo:
    svg: false
  banner:
  small:
  medium:
  large:
draft:
---
