---
title: Squishface
slug: squishface
description: A very nice description.
overview: A/B Testing, HTML, CSS, and JavaScript.
year: 2024
url:
  external: https://squishface.com
  archive:
featured:
  selected:
  collaboration:
category: website
tags:
  - shopify
  - liquid
  - html
  - css
  - javascript
samples:
  logo:
    svg: false
  banner:
  small:
  medium:
  large:
draft:
---
