---
title: Sun Tan City
slug: sun-tan-city
description: A very nice description.
overview: HTML, CSS, and JavaScript.
year: 2024
url:
  external:
  archive: https://web.archive.org/web/20200812153307/https://my.suntancity.com/
featured:
  selected:
  collaboration: true
category: website
tags:
  - html
  - css
  - javascript
samples:
  logo:
    svg:
  banner:
  small:
  medium:
  large:
draft:
---
