---
title: Torani
slug: torani
description: A very nice description.
overview: A/B Testing, HTML, CSS, and JavaScript.
year: 2024
url:
  external: https://www.torani.com
  archive:
featured:
  selected: true
  collaboration:
category: website
tags:
  - shopify
  - liquid
  - html
  - css
  - javascript
samples:
  logo:
    svg:
  banner:
  small:
  medium:
  large:
draft:
---
