/*-----------------------------*/
/* Footer */
/*-----------------------------*/

.footer {
	padding-block: var(--space-large) var(--space-xxxl);
	color: var(--color-white);
	background-color: var(--color-black);
	/* background-color: var(--color-construction); */
}

	.wrap--footer {
		position: relative;
		/* background-color: var(--color-construction); */
	}

		.section--work-together {

			.section__title {}

			p {}

				a {

					color: inherit;

					&:focus,
					&:hover {}

				}

		}

		.social {
			display: flex;
			flex-wrap: wrap;
			gap: var(--space-small);
			margin-block-end: var(--space-xxxl);
		}

			.social__heading {}

			.social__list {
				display: flex;
				gap: var(--space-base);
				margin-block-end: 0;
				padding: 0;
				list-style: none;
			}

				.social__item {}

					.social__link {

						display: block;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						background-color: var(--color-white);

						&:focus,
						&:hover {}

					}

		.built-with {
			color: var(--color-gray-60);
			font-style: italic;
		}

			.built-with__link {

				color: var(--color-gray-40);

				&:focus,
				&:hover {}

			}

		.copyright {}

			.copyright__link {

				color: inherit;

				&:focus,
				&:hover {}

			}

		.return-to-top {
			position: absolute;
			right: 0;
			bottom: 0.125rem; /* 2px */;
			line-height: 0;
			z-index: 1;
		}

			.return-to-top__link {

				display: block;
				text-decoration: none;

				&:focus,
				&:hover {}

			}

				.return-to-top__svg {
					width: 30px;
					height: 30px;
				}
