---
layout: layouts/project.njk
tags:
  - project
responsibilities:
  - something
  - new
  - today
title: Alex Curtis Wellness
small: /media/work/alex-curtis-wellness-small.jpg
medium:
large: /media/work/alex-curtis-wellness-large.jpg
---

<p>{{ title }}</p>
