---
layout: layouts/project.njk
tags:
  - project
title: Boston Scientific
small: /media/work/boston-scientific-small.jpg
medium:
large: /media/work/boston-scientific-large.jpg
---

<p>{{ title }}</p>

