---
title: Carson Design
overview: This is a very nice overview.
layout: layouts/project.njk
tags:
  - project
  - selected
responsibilities:
  - this
  - that
  - another
small: /media/work/carson-design-small.jpg
medium:
large: /media/work/carson-design-large.jpg
---

<p>{{ title }}</p>
