---
layout: layouts/project.njk
tags:
  - project
title: Indiana Juvenile Justice Task Force
small:
medium:
large: /media/work/indiana-juvenile-justice-task-force-large.jpg
---

<p>{{ title }}</p>

<p>Project for GiveCamp.</p>
