---
layout: layouts/project.njk
tags:
  - project
title: K. Long Consulting
small: /media/work/k-long-consulting-small.jpg
medium:
large: /media/work/k-long-consulting-large.jpg
---

<p>{{ title }}</p>
