---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog notes #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<ul class="note-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="note-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{{ content | safe }}

{%- if collections.notes %}
{%- set previousNote = collections.notes | getPreviousCollectionItem %}
{%- set nextNote = collections.notes | getNextCollectionItem %}
{%- if nextNote or previousNote %}
<ul class="links-nextprev">
	{%- if previousNote %}<li>Previous: <a href="{{ previousNote.url }}">{{ previousNote.data.title }}</a></li>{% endif %}
	{%- if nextNote %}<li>Next: <a href="{{ nextNote.url }}">{{ nextNote.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
