---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog work #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<ul class="work-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="work-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{{ content | safe }}

{%- if collections.work %}
{%- set previousProject = collections.work | getPreviousCollectionItem %}
{%- set nextProject = collections.work | getNextCollectionItem %}
{%- if nextProject or previousProject %}
<ul class="links-nextprev">
	{%- if previousProject %}<li>Previous: <a href="{{ previousProject.url }}">{{ previousProject.data.title }}</a></li>{% endif %}
	{%- if nextProject %}<li>Next: <a href="{{ nextProject.url }}">{{ nextProject.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
