---
title: About
overview: A very nice description about the About page.
layout: layouts/page.njk
draft: true
---

<p>I&rsquo;m a web designer and developer with over two decades of experience in creating exceptional digital experiences. My career journey has taken me from the dynamic world of freelancing to the collaborative environments of small studios, all the way to the vast landscape of large agencies. This wide-ranging exposure has not only honed my technical skills but also deepened my appreciation for the art and science of web development.<p>

<p>I am deeply passionate about web standards, accessibility, and ensuring seamless functionality across all platforms. My approach to design and development is rooted in the belief that digital solutions should be inclusive, user-friendly, and accessible to everyone, anywhere, and on any device. I strive to keep abreast of the latest industry standards to deliver projects that not only look beautiful but also function flawlessly and meet the diverse needs of users.</p>

<p>In my work, I seek to harness the power of technology to create web experiences that are both innovative and universally accessible, ensuring every project I undertake is built to stand the test of time and technology advancements.</p>

<ul class="">

	<li class="">

		<a href="/resume/">Resume</a>

	</li>

	<li class="">

		<a href="/uses/">Uses</a>

	</li>

	<li>Music</li>
	<li>Reading</li>
	<li>Photos</li>
	<li>Things I like.</li>

</ul>
