Accessibility statement.

I’d like this website to be usable by the widest possible audience, regardless of device, browser, network speed, or ability. As such, this website strives to meet the level AA standards outlined in the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) 2.1</a>.

This page attempts to describe the current state of this website’s accessibility features. If you have any trouble accessing any part of this website, please feel free to <a href="">email me</a>. I take accessibility-related issues very seriously, and I’ll try to correct the issue as soon as I can. I will also keep this document up-to-date as the website changes.

Accessibility features

Pages are structured with semantic elements like <code>header</code>, <code>navigation</code>, <code>main</code>, and <code>footer</code>, which may help you move around more quickly. Headings at level 1 mark the main content area of each page, and each page’s structure should follow a logical heading order from there. Each page on this website has a “skip to content” link at the top, and a “back to start” link at the very bottom.

Images are described with text equivalents, to ensure everyone can access graphical content. Embedded audio and video should be described with accessible labels and textual descriptions, though older posts may be lacking. (More on this <a href="">known issue with embedded media</a>.) You should be able to zoom each page up to 300% without any issues.

This website’s colors were chosen to ensure there is sufficient color contrast on each page. Every component of this website is accessible via mouse, keyboard, or touch. To ensure the website is usable by keyboards, I’ve added focus styles to images, links, forms, and other focusable elements.

This website has been tested on modern browsers, with occasional checks to make sure it’s usable in older devices or browsers. I frequently test my work with the <a href="https://www.apple.com/accessibility/mac/vision/">VoiceOver</a> and <a href="https://www.nvaccess.org/about-nvda/">NVDA</a> screen readers, and run occasional accessibility audits in <a href="https://www.deque.com/axe/">aXe</a> and <a href="https://wave.webaim.org/">WAVE</a>.

Known issues

I will occasionally embed media in my posts, like audio or video. In more recent posts, I’ve added accessible labels and textual descriptions to embedded third-party media. Older posts may have media that was not adequately described. I’m slowly working to correct this, but if you encounter confusing media you can <a href="">email me</a> to let me know.

Send me feedback

I care deeply about accessibility, but I’m always learning more about it. If you have any issues using any part of this website, please do <a href="">email me</a>. I would welcome your feedback or suggestions.
