---
title: Contact
overview: If you think I'd be a good fit for your next project, please reach out. I'd love to hear from you.
layout: layouts/page.njk
eleventyNavigation:
  key: Contact
  order: 3
---

<form name="contact" method="POST" data-netlify="true" class="form form--{{ title | slugify }}">

	<fieldset>

		<legend class="visually-hidden">Send Joshua an email.</legend>

		<ol class="form__list">

			<li class="form__item">

				<label for="name" class="form__label">Name:</label>

				<input type="text" name="name" id="name" class="form__input" required="required" />

			</li>

			<li class="form__item">

				<label for="email" class="form__label">Email Address:</label>

				<input type="email" name="email" id="email" class="form__input" required="required" />

			</li>

			<li class="form__item">

				<label for="subject" class="form__label">Subject:</label>

				<input type="text" name="subject" id="subject" class="form__input" required="required" />

			</li>

			<li class="form__item">

				<label for="message" class="form__label">Message:</label>

				<textarea name="message" rows="7" id="message" class="form__textarea" required="required"></textarea>

			</li>

		</ol>

	</fieldset>

	<button type="submit" name="" id="" class="form__button">Send Message</button>

</form>
