---
layout: layouts/base.njk
---

{# Introduction #}

<section class="section section--introduction">

	<header class="section__header">

		<h1 class="section__title">Hi, I&rsquo;m Joshua.</h1>

	</header>

	<div class="section__content">

		<p>Over the last decade, I&rsquo;ve focused on designing and building web experiences with accessibility and performance in mind. I care about creating work that looks great and functions well everywhere.</p>

		<p>If you think I might be a good addition to your team, <a href="/contact/">please reach out</a>.</p>

	</div>

</section>

{# Selected Work #}

<section class="section section--selected-work">

	<header class="section__header">

		<h2 class="section__title">Selected Work</h2>

		<div class="section__overview">

			<p>Recent projects I&rsquo;ve helped work on.</p>

		</div>

	</header>

	<div class="section__content">

		<ul class="work__list">

			{% for project in collections.work | sortByTitle %}

				{% if project.data.featured.selected == true %}

					<li class="work__item">

						<a href="{{ project.url }}" title="View the {{ project.data.title }} project." class="work__link">

							<figure class="work__figure">

								<div class="work__samples">

									{% if project.data.samples.banner == true %}

										<img src="{{ metadata.path.work }}/{{ project.data.slug }}-banner-160.png" srcset="{{ metadata.path.work }}/{{ project.data.slug }}-banner-320.png 320w, {{ metadata.path.work }}/{{ project.data.slug }}-banner-640.png 640w, {{ metadata.path.work }}/{{ project.data.slug }}-banner-1280.png 1280w, {{ metadata.path.work }}/{{ project.data.slug }}-banner.png 2560w" width="1280" height="1024" loading="lazy" alt="The {{ project.data.title }} project banner." class="work__image work__image--banner" />

									{% else %}

										<img src="{{ metadata.path.work }}/{{ project.data.slug }}-large-160.jpg" srcset="{{ metadata.path.work }}/{{ project.data.slug }}-large-320.jpg 320w, {{ metadata.path.work }}/{{ project.data.slug }}-large-640.jpg 640w, {{ metadata.path.work }}/{{ project.data.slug }}-large-1280.jpg 1280w, {{ metadata.path.work }}/{{ project.data.slug }}-large.jpg 2560w" width="1280" height="1024" loading="lazy" alt="The {{ project.data.title }} project when viewed at larger screen sizes." class="work__image work__image--large" />

									{% endif %}

									<div class="work__overlay {% if project.data.samples.medium == true %}work__overlay--medium{% endif %}">

										{% if project.data.samples.medium == true %}

											<img src="{{ metadata.path.work }}/{{ project.data.slug }}-medium-160.jpg" srcset="{{ metadata.path.work }}/{{ project.data.slug }}-medium-320.jpg 320w, {{ metadata.path.work }}/{{ project.data.slug }}-medium-640.jpg 640w, {{ metadata.path.work }}/{{ project.data.slug }}-medium.jpg 1280w" width="640" height="819" loading="lazy" alt="The {{ project.data.title }} project when viewed at medium screen sizes." class="work__image work__image--medium" />

										{% else %}

											<img src="{{ metadata.path.work }}/{{ project.data.slug }}-small-160.jpg" srcset="{{ metadata.path.work }}/{{ project.data.slug }}-small-320.jpg 320w, {{ metadata.path.work }}/{{ project.data.slug }}-small.jpg 640w" width="320" height="568" loading="lazy" alt="The {{ project.data.title }} project when viewed at smaller screen sizes." class="work__image work__image--small" />

										{% endif %}

									</div>

								</div>

								<figcaption class="work__figcaption">

									<h3 class="work__title">{{ project.data.title }}</h3>

								</figcaption>

							</figure>

						</a>

					</li>

				{% endif %}

			{% endfor %}

		</ul>

	</div>

</section>

<section class="section section--collaboration">

	<header class="section__header">

		<h2 class="section__title visually-hidden">Additional Work</h2>

		<div class="section__overview">

			<p>I&rsquo;ve also been fortunate to work on many other projects for:</p>

		</div>

	</header>

	<div class="section__content">

		<ul class="collaboration__list">

			<li class="collaboration__item">

				<img src="{{ metadata.path.work }}/i-see-me-logo.svg" width="276" height="70" alt="I See Me!" class="collaboration__logo" />

			</li>

			<li class="collaboration__item">

				<img src="{{ metadata.path.work }}/inspire-sleep-logo.svg" width="276" height="70" alt="Inspire Sleep" class="collaboration__logo" />

			</li>

			<li class="collaboration__item">

				<img src="{{ metadata.path.work }}/musicnotes-logo.svg" width="276" height="70" alt="MusicNotes" class="collaboration__logo" />

			</li>

			<li class="collaboration__item">

				<img src="{{ metadata.path.work }}/rakuten-logo.svg" width="276" height="70" alt="Rakuten" class="collaboration__logo" />

			</li>

			<li class="collaboration__item">

				<img src="{{ metadata.path.work }}/reading-glasses-logo.svg" width="276" height="70" alt="ReadingGlasses" class="collaboration__logo" />

			</li>

			<li class="collaboration__item">

				<img src="{{ metadata.path.work }}/sun-tan-city-logo.svg" width="276" height="70" alt="Sun Tan City" class="collaboration__logo" />

			</li>

			<li class="collaboration__item">

				<img src="{{ metadata.path.work }}/time-warner-cable-logo.svg" width="276" height="70" alt="Time Warner Cable" class="collaboration__logo" />

			</li>

			<li class="collaboration__item">

				<img src="{{ metadata.path.work }}/university-mechanical-contractors-logo.svg" width="276" height="70" alt="University Mechanical Contractors" class="collaboration__logo" />

			</li>

		</ul>

	</div>

</section>

{# Looking for Work

{% if metadata.available == true %}

	<section class="section section--available-for-work section--is-inset">

		<header class="section__header">

			<h2 class="section__title">Looking for Work</h2>

		</header>

		<div class="section__content">

			<p>I'm currently on the lookout for new job opportunities that match my skill set and professional goals. This search is driven by my eagerness to join forward-thinking teams and projects where I can contribute significantly and enhance my career growth, making a positive difference along the way.</p>

		</div>

	</section>

{% endif %}

#}

{# Recent Notes

<section class="section section--recent-notes">

	<header class="section__header">

		<h2 class="section__title">Recent Notes</h2>

		<div class="section__overview">

			<p>A short description.</p>

		</div>

	</header>

	<div class="section__content">

		<ol reversed class="notes__list">

			{% for note in collections.notes | head(-1 * 3) | reverse %}

				<li class="notes__item">

					<article class="">

						<h3 class="">
							<a href="{{ note.url }}" {% if entry.url == page.url %}aria-current="page"{% endif %} class="">{{ note.data.title }}</a>
						</h3>

						<span class="visually-hidden">Posted on</span>

						<time datetime="{{ note.date | htmlDateString }}" class="">{{ note.date | readableDate("LLLL d, yyyy") }}</time>

						<p class="">{{ note.data.excerpt }}</p>

						{{ note.data.category }}

						<dl class="">

							<dt class="">Tags</dt>

							{% for tag in note.data.tags | filterTagList %}

								<dd class="">

									<a href="/tags/{{ tag | slugify }}/" class="">{{ tag }}</a>

								</dd>

							{% endfor %}

						</dl>

					</article>

				</li>

			{% endfor %}

		</ol>

	</div>

</section>

 #}
