---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
	order: 1
numberOfSelectedWorkToShow: 4
numberOfRecentNotesToShow: 3
---

<!-- ! Introduction -->

<section class="">

	<header class="">

		<h1 class="">Hello, I&rsquo;m Joshua Coleman.</h1>

	</header>

	<p class="">I'm a web designer and developer with over two decades of experience in creating exceptional digital experiences. My career journey has taken me from the dynamic world of freelancing to the collaborative environments of small studios, all the way to the vast landscape of large agencies. This wide-ranging exposure has not only honed my technical skills but also deepened my appreciation for the art and science of web development.</p>

	<p class="">I am deeply passionate about web standards, accessibility, and ensuring seamless functionality across all platforms. My approach to design and development is rooted in the belief that digital solutions should be inclusive, user-friendly, and accessible to everyone, anywhere, and on any device. I strive to keep abreast of the latest industry standards to deliver projects that not only look beautiful but also function flawlessly and meet the diverse needs of users.</p>

	<p class="">In my work, I seek to harness the power of technology to create web experiences that are both innovative and universally accessible, ensuring every project I undertake is built to stand the test of time and technology advancements.</p>

	<!-- Currently Exploring New Opportunities -->

	<p class="">I'm currently on the lookout for new job opportunities that match my skill set and professional goals. This search is driven by my eagerness to join forward-thinking teams and projects where I can contribute significantly and enhance my career growth, making a positive difference along the way.</p>

</section>

<!-- ! Selected Work -->

<section class="">

	<header class="">

		<h2 class="">Selected Work</h2>

		<p class="">A short description.</p>

	</header>

	<ul class="">

		<!-- For featured work, just show the logo. -->

		<li class="">

			<a href="" class="">

				<figure class="">

					<img src="/media/work/project/project.png" width="800" height="600" alt="Title of the project." class="" />

					<figcaption>
						<h3 class="">Title</h3>
					</figcaption>

				</figure>

			</a>

		</li>

	</ul>

</section>

<section class="">

	<header class="">

		<h3 class="">Title</h3>

		<p class="">In additional to the work above, I've been fortunate to work with many other companies such as:</p>

	</header>

	<ul class="">

		<li class="">Title</li>
		<li class="">Title</li>
		<li class="">Title</li>

	</ul>

	<p class="">If you're interested in working with me, feel free to <a href="/contact/">reach out</a>.</p>

</section>

<!-- ! Recent Notes -->

<section class="">

	<header class="">

		<h2 class="">Recent Notes</h2>

		<p class="">A short description.</p>

	</header>

	<ol class="">

		<li class="">

			<article class="">

				<h3 class="">
					<a href="" class="">Title</a>
				</h3>

				<span class="">Posted on</span>

				<time datetime="" class="">April 9, 2023</time>

				<p class="">Excerpt</p>

				<dl class="">

					<dt class="">Tags</dt>

					<dd class="">Tag</dd>
					<dd class="">Tag</dd>
					<dd class="">Tag</dd>

				</dl>

			</article>

		</li>

	</ol>

</section>
