---
layout: layouts/project.njk
tags:
  - project
title: American Grown Up
small: /media/work/american-grown-up-small.jpg
medium:
large: /media/work/american-grown-up-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
