---
layout: layouts/project.njk
tags:
  - project
title: Amestudio
small: /media/work/amestudio-small.jpg
medium:
large: /media/work/amestudio-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
