---
layout: layouts/project.njk
tags:
  - project
  - selected
title: Bedrock Recovery Center
small: /media/work/bedrock-recovery-center-small.jpg
medium:
large: /media/work/bedrock-recovery-center-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
