---
layout: layouts/project.njk
tags:
  - project
title: BIO EE
small: /media/work/bioee-small.jpg
medium:
large: /media/work/bioee-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
