---
layout: layouts/project.njk
tags:
  - project
title: Cedar Hill
small: /media/work/cedar-hill-small.jpg
medium:
large: /media/work/cedar-hill-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
