---
layout: layouts/project.njk
tags:
  - project
title: Clancy Schaer
small: /media/work/clancy-schaer-small.jpg
medium:
large: /media/work/clancy-schaer-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
