---
layout: layouts/project.njk
tags:
  - project
title: Clear Choice Smiles
small: /media/work/clear-choice-smiles-small.jpg
medium:
large: /media/work/clear-choice-smiles-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
