---
layout: layouts/project.njk
tags:
  - project
title: CML Viz
small: /media/work/cmlviz-small.jpg
medium:
large: /media/work/cmlviz-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
