---
layout: layouts/project.njk
tags:
  - project
title: Coastline Productions
small: /media/work/coastline-productions-small.jpg
medium:
large: /media/work/coastline-productions-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
