---
layout: layouts/project.njk
tags:
  - project
title: CSR MGH
small: /media/work/csr-mgh-small.jpg
medium:
large: /media/work/csr-mgh-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
