---
layout: layouts/project.njk
tags:
  - project
title: Danco Roofing
small: /media/work/danco-roofing-small.jpg
medium:
large: /media/work/danco-roofing-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
