---
layout: layouts/project.njk
tags:
  - project
title: Dotne Home Care
small: /media/work/dotne-home-care-small.jpg
medium:
large: /media/work/dotne-home-care-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
