---
layout: layouts/project.njk
tags:
  - project
title: Early Times
small: /media/work/early-times-small.jpg
medium:
large: /media/work/early-times-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
