---
layout: layouts/project.njk
tags:
  - project
title: Enertia
small: /media/work/enertia-small.jpg
medium:
large: /media/work/enertia-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
