---
layout: layouts/project.njk
tags:
  - project
title: Fluxergy
small: /media/work/fluxergy-small.jpg
medium:
large: /media/work/fluxergy-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
