---
layout: layouts/project.njk
tags:
  - project
title: Fontaine Design
small: /media/work/fontaine-design-small.jpg
medium:
large: /media/work/fontaine-design-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
