---
layout: layouts/project.njk
tags:
  - project
title: Gogofy
small: /media/work/gogofy-small.jpg
medium:
large: /media/work/gogofy-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
