---
layout: layouts/project.njk
tags:
  - project
title: Gospel Festival
small: /media/work/gospel-festival-small.jpg
medium:
large: /media/work/gospel-festival-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
