---
layout: layouts/project.njk
tags:
  - project
title: Hands on Everyday
small: /media/work/hands-on-everyday-small.jpg
medium:
large: /media/work/hands-on-everyday-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
