---
layout: layouts/project.njk
tags:
  - project
title: Hart and Iliff
small: /media/work/hart-and-iliff-small.jpg
medium:
large: /media/work/hart-and-iliff-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
