---
layout: layouts/project.njk
tags:
  - project
title: Hillenby
small: /media/work/hillenby-small.jpg
medium:
large: /media/work/hillenby-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
