---
layout: layouts/project.njk
tags:
  - project
title: Inline Design Office Solutions
small: /media/work/inline-design-office-solutions-small.jpg
medium:
large: /media/work/inline-design-office-solutions-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
