---
layout: layouts/project.njk
tags:
  - project
title: James Lockyer Associates
small: /media/work/james-lockyer-associates-small.jpg
medium:
large: /media/work/james-lockyer-associates-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
