---
layout: layouts/project.njk
tags:
  - project
title: Larames
small: /media/work/larames-small.jpg
medium:
large: /media/work/larames-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
