---
layout: layouts/project.njk
tags:
  - project
title: Law U
small: /media/work/law-u-small.jpg
medium:
large: /media/work/law-u-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
