---
layout: layouts/project.njk
tags:
  - project
title: Lifter
small: /media/work/lifter-small.jpg
medium:
large: /media/work/lifter-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
