---
layout: layouts/project.njk
tags:
  - project
title: Love at Home Senior Care
small: /media/work/love-at-home-senior-care-small.jpg
medium:
large: /media/work/love-at-home-senior-care-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
