---
layout: layouts/project.njk
tags:
  - project
title: Luis Rosenfeld
small: /media/work/luis-rosenfeld-small.jpg
medium:
large: /media/work/luis-rosenfeld-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
