---
layout: layouts/project.njk
tags:
  - project
title: MBP Catering
small: /media/work/mbp-catering-small.jpg
medium:
large: /media/work/mbp-catering-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
