---
layout: layouts/project.njk
tags:
  - project
title: Milto
small: /media/work/milto-small.jpg
medium:
large: /media/work/milto-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
