---
layout: layouts/project.njk
tags:
  - project
title: Mousepad Consulting
small:
medium:
large: /media/work/mousepad-consulting-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
