---
layout: layouts/project.njk
tags:
  - project
title: Natural Choice Water
small: /media/work/natural-choice-water-small.jpg
medium:
large: /media/work/natural-choice-water-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
