---
layout: layouts/project.njk
tags:
  - project
title: Nineteen Eighty Five
small: /media/work/nineteen-eighty-five-small.jpg
medium:
large: /media/work/nineteen-eighty-five-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
