---
layout: layouts/project.njk
tags:
  - project
title: Norton
small: /media/work/norton-small.jpg
medium:
large: /media/work/norton-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
