---
layout: layouts/project.njk
tags:
  - project
title: Pennsylvania Muscle Institute
small: /media/work/pennsylvania-muscle-institute-small.jpg
medium:
large: /media/work/pennsylvania-muscle-institute-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
