---
layout: layouts/project.njk
tags:
  - project
title: Performisys
small: /media/work/performisys-small.jpg
medium:
large: /media/work/performisys-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
