---
layout: layouts/project.njk
tags:
  - project
title: Planet C. Studios
small: /media/work/planet-c-studios-small.jpg
medium:
large: /media/work/planet-c-studios-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
