---
layout: layouts/project.njk
tags:
  - project
title: Point B. Properties
small: /media/work/point-b-properties-small.jpg
medium:
large: /media/work/point-b-properties-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
