---
layout: layouts/project.njk
tags:
  - project
title: RTG Golf
small: /media/work/rtg-golf-small.jpg
medium:
large: /media/work/rtg-golf-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
