---
layout: layouts/project.njk
tags:
  - project
title: Ryan Lab
small: /media/work/ryan-lab-small.jpg
medium:
large: /media/work/ryan-lab-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
