---
layout: layouts/project.njk
tags:
  - project
title: Seemac
small: /media/work/seemac-small.jpg
medium:
large: /media/work/seemac-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
