---
layout: layouts/project.njk
tags:
  - project
title: Sponge
small: /media/work/sponge-small.jpg
medium:
large: /media/work/sponge-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
