---
layout: layouts/project.njk
tags:
  - project
title: The Ana Group
small: /media/work/the-ana-group-small.jpg
medium:
large: /media/work/the-ana-group-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
