---
layout: layouts/project.njk
tags:
  - project
title: The Hartford
small: /media/work/the-hartford-small.jpg
medium:
large: /media/work/the-hartford-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>

<p>Found in `landing-page`.</p>
