---
layout: layouts/project.njk
tags:
  - project
title: The Hollywood Distillery
small: /media/work/the-hollywood-distillery-small.jpg
medium:
large: /media/work/the-hollywood-distillery-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
