---
layout: layouts/project.njk
tags:
  - project
title: Universal Music Classics
small: /media/work/universal-music-classics-small.jpg
medium:
large: /media/work/universal-music-classics-large.jpg
eleventyExcludeFromCollections: true
---

<p>{{ title }}</p>
