/*-----------------------------*/
/* Utilities */
/*-----------------------------*/

.wrap {
	width: 85vw;
	max-width: 56.25rem; /* 900px */
	margin-inline: auto;
}

.skip-to-content {

	position: fixed;
	left: 50%;
	top: -30rem;
	transform: translateX(-50%);
	z-index: 10;
	padding-block: 0.75rem;
	padding-inline: 1.25rem;
	color: var(--color-primary);
	background-color: var(--color-white);
	font-family: var(--font-sans-serif);
	text-decoration: none;
	border: 5px solid var(--color-primary);

	&:focus {
		top: 1rem;
	}

}

.return-to-top {}

.sr-only {}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	white-space: nowrap;
	border: 0;
}
